<template name="login">
    <link href="signin.css" rel="stylesheet">
    <div class="container">

 	<div class="account-wall">

       <form class="form-signin" id="login-form">

            <h2 class="form-signin-heading">Zaloguj się na SWFiS.</h2>
   
  			<input type="text" id="login-username" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
                        <input type="password" id="login-password" class="form-control" placeholder="Hasło" required>
                        <input type="button" id="login-button" class="btn btn-lg btn-primary btn-block" value="Zaloguj">

                        <a href="{{pathFor 'register'}}">
		<input type="button" id="reg-button" class="btn btn-lg btn-success btn-block" value="Rejestracja">
    		</a>
        </form>
    </div>
</div>
</template>
