<template name="plan">
<body>
<center><img src="http://www.uwm.edu.pl/swfis/templates/GGrass-TAG/images/logo.png"/></center>
    <div class="container">
        <div class="row">
            {{> nav}}
        </div>
        <div class="row">
		<h2>Plan Kortowa</h2>
            <center><img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xft1/v/t35.0-12/11273451_945325002196596_1107810917_o.jpg?oh=f2a94a4b54d4fd6eea1d2bd685f5b7f5&oe=557B8252" /></center>
			
        </div>
    </div>
	</body>
<div class="jumbotron"></div>
</template>
