<template name="plan">
<body>
<center><img src="http://www.uwm.edu.pl/swfis/templates/GGrass-TAG/images/logo.png"/></center>
    <div class="container">
        <div class="row">
            {{> nav}}
        </div>
        <div class="row">
		<h2>Plan Kortowa</h2>
            <center><img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xft1/v/t34.0-12/11348934_945309452198151_1803289401_n.jpg?oh=741c3613d437362e20325f3f334112c8&amp;oe=557B81CF" /></center>
			
        </div>
    </div>
	</body>
</template>