<template name="reservationForm2">
<body>
<center><img src="http://www.uwm.edu.pl/swfis/templates/GGrass-TAG/images/logo.png"/></center>
    <div class="container">
        <div class="row">
            {{> nav}}
        </div>
        <div class="row">
            <div class="panel-body">
                Obiekt :
                <select class="form-control" id="NrObiektu">
                    <option value='0'>Wybierz obiekt</option>
                    {{#each obiekt}}
                    <option>{{> obiektItem}}</option>{{/each}}
                </select>
                Wybierz datę :
                <input type="text" class="form-control" id="my-datepicker">Godzina :
                <select class="form-control" id="time">
                    <option>Wybierz Godzinę</option>
                    <option value="9:00-10:30">9:00-10:30</option>
                    <option value="10:30-12:00">10:30-12:00</option>
                    <option value="12:00-13:30">12:00-13:30</option>
                    <option value="13:30-14:00">13:30-14:00</option>
                    <option value="14:00-15:30">14:00-15:30</option>
                    <option value="15:30-16:00">15:30-16:00</option>
                    <option value="16:00-17:30">16:00-17:30</option>
                    <option value="17:30-19:00">17:30-19:00</option>
		    <option value="19:00-20:30">19:00-20:30</option>
		    <option value="20:30-22:00">20:30-22:00</option>
                </select>
				<p></p>
                <button class="btn btn-primary pull-right" id="rezerwuj">Rezerwuj</button>
            </div>
        </div>
    </div>
</body>	
<div class="jumbotron"></div>
</template>
